<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declaration generator v1.0</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form method="POST">
            <div class="input-container">
                <label>Name:</label> 
                <input class="info" type="text" name="name" value="<%=name%>" />
            </div>
            <div class="input-container">
                <label>Surname:</label> 
                <input class="info" type="text" name="surname" value="<%=surname%>" />
            </div>
            <div class="input-container">
                <label>Course:</label> 
                <input class="info" type="text" name="course" value="<%=course%>" />
            </div>
            <div class="grid-container">
                <% for(let idx = 1; idx <= 10; idx++) { %>
                    <div class="grid-item">
                        <%= idx %> <input class="checkbox" type="checkbox" name="<%=idx%>" />
                    </div>
                <% } %>
            </div>
            <div class="submit-container">
                <button id="submit">Submit</button>
            </div>
            <div class="msg-container">
                <p class="msg"><%=message%></p>
            </div>
        </form>
    </div>
</body>
</html>